{
	margin: 0px;
}
.box{
	background-image: url(../images-videous/23.png);
	width: 1270px;
	height: 817px;
	background-size: cover;
	position: relative;
}
.img1{
	width: 109px;
	height: 33px;
	margin-top: 40px;
	margin-left: 97px;
	
}

.li{
	list-style-type: none;

}
.a1{
	text-decoration: none;
	color: #D6D4DA;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	margin-top: 50px;
	margin-left: 30px;


}
.a{
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	margin-top: 50px;
	margin-left: 280px;
	border-bottom: 1px solid #FF4452;
	border-color: #FF4452;
}
.a2{
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	margin-top: 50px;
	margin-left: 97px;
}
.a3{
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	border-style: solid;
	border-width: 2px;
	padding: 11px 38px 15px 38px;
	border-color:#FFFFFF ;
	border-radius: 30px;
	margin-left: 20px;
}
.div1{
	display: inline-block;

}
.ul1 > li{
	display: inline-block;
}
.h1{
	color: #FFFFFF;
	font-family: 'Archivo Black', sans-serif;
	font-size: 60px;
}
.span1{
	color: #FF5C63;
	font-family: 'Archivo Black', sans-serif;
	font-size: 60px;
}
.box2{
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	margin-bottom: 27px;

}
.img2{
	width: 200px;
	height: 70px;
}
.div2{
	margin-left: 97px;
	margin-top: 130px;
}
.img3{
	width: 240px;
	height: 440Px;
	position: absolute;
	left: 840px;
	top: 166px;
}
.img4{
	width: 15px;
	height: 16px;
	position: absolute;
	left: 24px;
	top: 500px;
}
.img5{
	width: 18px;
	height: 16px;
	position: absolute;
	left: 24px;
	top: 540px;
}
.img6{
	width: 15px;
	height: 25px;
	position: absolute;
	left: 24px;
	top: 580px;
}
.box3{
	background-color: #FFFFFF;
	width: 700px;
	height: 120px;
	margin-top: 225px;
	display: inline-block;

}
.a-div1{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	display: inline-block;
	margin-top: 39px;
	margin-left: 97px;
}
.span2{
	color: #9B9B9B;
	font-size: 12px;
}

.a-div2{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	display: inline-block;
	margin-left: 100px;
}

.span3{
	color: #9B9B9B;
	font-size: 12px;
}

.a-div3{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	display: inline-block;
    margin-left: 100px;
}

.span4{
    color: #9B9B9B;
	font-size: 12px;
}
.a-a{
	text-decoration: none;
	color:#000000 ;
}
.box4{
	background-color: #FF5C63;
	height: 120px;
	width: 250px;
	display: inline-block;
	margin-top: 225px;
	position: absolute;
	border-radius: 0px 20px 0px 0px;
}
.b-div1{
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	margin-top: 49px;
	margin-left: 79px;
	text-align: center;
	display: inline-block;
}
.b-div2{
	display: inline-block;
	margin-left: 45px;
}
.a-a1{
	text-decoration: none;
	color: #FFFFFF ;
}
.a:hover{
	background-color: #FF5C63;
	border-radius: 3px;
	transition: 0.4s;
}
.a1:hover{
    background-color: #FF5C63;
	border-radius: 3px;
	transition: 0.4s;
}
.box4:hover{
	background-color: #5E0AF1;
	transition: 0.5s;
}
.rectangle1{
	position: absolute;
	left: 250px;
	top: 735px;
}
.rectangle2{
	position: absolute;
	left: 470px;
	top: 735px;
}
.div3 > p{
	color: #9B9B9B;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	margin-bottom: 20px;
}
.div3> h1{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 38px;
	margin-bottom: 40px;

}
.div3{
	margin-left: 100px;
	margin-top: 130px;
}
.a-img1{
	width: 703px;
	height: 380px;
	margin-left: 100px;
	margin-right: 10px;
}
.a-img2{
	width: 400px;
	height: 380px;
}
.div4{
	display: inline-block;
}
.a-img3{
	width: 400px;
	height: 380px;
	margin-left: 100px;
	margin-right: 10px;
}
.a-img4{
	width: 703px;
	height: 380px;
}
.div5{
	display: inline-block;
	margin-top: 15px;
}
.box2{
	margin-top: 20px;
}
.vid1{
	margin-left: 250px;
	margin-top: 2px;
	height: 550px;
	width: 800px;
}
.box5{
	background-image: url(../images-videous/Capture3.png);
	width: 1270px;
	height: 850px;
	background-size: cover;
	margin-top: 30px;
	position: relative;
}
.c-div1{
	color: #9B9B9B;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	position: absolute;
	top: 72px;
	left: 500px;
}
.c-div2{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	left: 430px;
	top: 90px;
	position: absolute;
}
.c-div3{
	background-color: #FFFFFF;
	width: 650px;
	height: 240px;
	border-radius: 30px;
	position: absolute;
	left: 300px;
	top: 400px;
}
.c-div4{
	margin-top: 50px;
	margin-left: 58px;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 34px;
}
.p1{
	color: #000000;
	margin-left: 58px;
	margin-top: 25px;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
}
.c-img1{
	width: 309px;
	height: 224px;
	position: absolute;
	left: 900px;
	top: 30px;
}
.c-img2{
	width: 172px;
	height: 201px;
	position: absolute;
	left: 70px;
	top: 248px;
}
.c-img3{
	position: absolute;
	width: 190px;
	height: 200px;
	top: 660px;
	left: 180px;
}
.c-img4{
	position: absolute;
	width: 127px;
	height: 170px;
	left: 1010px;
	top: 543px;
}
.c-img5{
	position: absolute;
	width: 34px;
	height: 34px;
	left: 930px;
	top: 280px;
}
.c-img6{
	position: absolute;
	width: 34px;
	height: 34px;
	left: 960px;
	top: 590px;
}
.c-img7{
	position: absolute;
	width: 34px;
	height: 34px;
	left: 342px;
	top: 650px;
}
.c-img8{
	position: absolute;
	width: 34px;
	height: 34px;
	left: 250px;
	top: 410px;
}
.box6{
	background-image: url(../images-videous/GT.png);
	width: 1270px;
	height: 994px;
	background-size: cover;
	position: relative;
}
.p2{
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-bottom: 17px;

}
.p3{
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	margin-bottom: 39px;
	line-height: 67px;
}
.p4{
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 29px;
}
.div6 > div{
	margin-top: 30px;
	margin-left: 15px;
	display: inline-block;
}
.div7 > div{
	margin-top: 16px;
	margin-left: 15px;
	display: inline-block;
}
.p5{
	color:#FFFFFF ;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	margin-top: 50px;
}
.div8 > div{
	margin-top: 25px;
	margin-left: 18px;
	display: inline-block;
}
.art1{
	display: inline-block;
}
.box7{
	position: absolute;
	left: 101px;
	top: 203px;
}
.img7{
	position: absolute;
	left: 680px;
	top: 250px;
	width: 579px;
	height: 497px;

}
.p6{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	text-align: center; 
	margin-top: 134px;
}
.p7{
	color: #000000 ;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	text-align: center;
	margin-top: 25px;
}
.p8{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	margin-left: 459px;
	margin-right: 20px;
}
.p9{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	margin-left: 20px;
}
.div9 > p{
	display: inline-block;

}
.div9 > img{
	display: inline-block;
	margin-top: 20px;
}
.div10{
	background-color: white;
	width: 362px;
	height: 602px;
	border-radius: 30px;
	position: absolute;
	top: 209px;
	left: 120px;
	color: #707070;
	box-shadow: 0px 10px 10px;
}

.box8{
	position: relative;
	height:900px ;
	width: 1270px;
}
.a-p{
	color: #353535;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-align: center;
	margin-top: 71px;
}
.a-mg{
	margin-left: 140px;
	margin-top: 20px;
}
.a-p1{
	color: #353535;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	margin-left: 116px;
	margin-top: 10px;
}
.a-p2{
	color: #353535;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	margin-left: 147px;
	display: inline-block;
}
.a-p3{
	color: #353535;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	display: inline-block;
}

.a-im{
	display: inline-block;
	width: 26px;
	height: 19px;
	margin-left: 25px;
	margin-top: 50px;
}
.a-im1{
	margin-top: 20px;
	width: 26px;
	height: 19px;
	margin-left: 25px;

}
.div-a{
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	position: absolute;
	left: 40px;
	top: 14px;
}
.div-c{
	background-color: #DB0011;
	width: 186px;
	height: 50px;
	border-radius: 30px;
	position: relative;
	margin-left: 88px;
	margin-top: 50px;
}
.div-c:hover{
	background-color: black;
	transition: 0.3s;
}
.a-a2{
	text-decoration: none;
	color: #FFFFFF ;
}
.div11{
	background-color: white;
	width: 362px;
	height: 602px;
	border-radius: 30px;
	position: absolute;
	top: 209px;
	left: 800px;
	color: #707070;
	box-shadow: 0px 10px 10px;

}
.a-mg2{
	margin-left: 110px;
	margin-top: 20px;
}
.div12{
	background-color: #FF1E1E;
	border-radius: 30px;
	height: 768px;
	width: 401px;
	position: absolute;
	top: 74px;
	left: 450px;
}
.p-div{
	color: #FFFFFF;
	margin-top: 100px;

}
.div13{
	background-image: url(../images-videous/gt1.png);
	background-size: cover;
	border-radius: 30px;
	height: 768px;
	width: 401px;
	position: absolute;
	top: 74px;
	left: 450px;
}
.b-p{
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	margin-top: 181px;
	margin-left: 130px;
}
.b-img{
	margin-top: 10px;
	margin-left: 110px;
}
.a-p2{
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	margin-left: 140px;
	margin-top: 10px;
}
.a-p4{
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	margin-left: 160px;
	display: inline-block;
}
.span6{
	font-size: 25px;
	color: white;
}
.b-p1{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	display: inline-block;
}
.b-img1{
    width: 26px;
	height: 19px;
	display: inline-block;
	margin-left: 40px;
	margin-top: 76px;
}
.b-img2{
	 width: 26px;
	height: 19px;
	display: inline-block;
	margin-left: 40px;
	margin-top: 30px;
}
.span5{
	font-size: 25px;
	color: black;
}
.b-div3{
	color: black;

}
.boxed-div{
	width: 265px;
	height: 64px;
	border-radius: 20px;
	border-color: white;
}
.b-p2{
	margin-top: 80px;
	margin-left: 70px;
}
.b-p3{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 21px;
	position: absolute;
	left: 140px;
	bottom: 85px;
}
.b-a{
	text-decoration: none;
	color: white;
}
.box9{
	background-image: url(../images-videous/mk8.png);
	background-size: contain;
	height: 550px;
	width: 1270px;
	margin-top: 219px;
	position: relative;
}
.box10{
	background-color: white;
	height: 360px;
	width: 480px;
	position: absolute;
	top: 190px;
}
.c-p1{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	margin-left: 35px;
	margin-top: 55px;

}
.c-p2{
	color:#000000 ;
    font-family: 'Poppins', sans-serif;
	font-size: 42px;
	margin-top: 10px;
	margin-left: 35px;
}
.c-p3{
	color:#000000 ;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	margin-left: 35px;
	margin-top: 20px;
	line-height: 20px;
}
.c-a{
	text-decoration: none;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;	
}
.c-div{
	background-color: #DB0011;
	height: 40px;
	width: 190px;
	border-radius: 30px;
	margin-left: 35px;
	margin-top: 40px;

}
.c-p4{
	position: absolute;
	top: 311px;
	left: 73px;
}
.box11{
	width: 1270px;
	height: 400px;
}
.d-img1{
	height: 31px;
	width: 109px;
	margin-bottom: 20px;
}
.d-p1{
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	line-height: 18px;
}
.d-a{
	margin-left: 13px;
	margin-top: 50px;
}
.d-div{
	margin-top: 25px;
}
.d-a1{
	text-decoration: none;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 35px;
}
.d-a2{
	text-decoration: none;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 35px;
}
.d-p2{
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}
.d-p3{
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-top: 20px;
}
.d-p4{
	color: #C7C7C7;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	margin-top: 40px;
}
input[type="text"]{
	width:428px ;
	height:60px ;
	border: none;
}
input[type="submit"]{
	background-color: #DB0011;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	border-radius: 30px;
	border-color:#DB0011 ;
	height: 60px;
	width: 132px;
}
input[name="Subscribe"]{
	color: white;
	position: absolute;
	left: 1125px;
}
.box12{
	display: inline-block;
	margin-top: 112px;
	margin-left: 35px;
}
.box13{
	display: inline-block;
	margin-top: 112px;
	margin-left: 120px;
}

/*font-family: 'Archivo Black', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/